html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
/*	width: 100%;*/
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.2s;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: #777777;
}

.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.site-header {
	padding: 25px 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}

.site-header .header-inner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

@media (min-width:544px){
	.site-header .header-inner{
	flex-direction: row;
	justify-content: space-between;
	}
}

.nav-list {
	display: flex;
	text-transform: uppercase;
	margin-left: -15px;
	margin-right: -15px;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 544px){
	.nav-list{
		flex-direction: row;
	}
}

.nav-list li {
	margin: 10px 15px 0;
	font-size: 11px;
	letter-spacing: 0.3m;
	line-height: 1.2;
	font-weight: 400;
	opacity: 0.75;
	float: left;
}

@media (min-width: 544px){
	.nav-list li{
		margin-top:0;
	}
}
.nav-list li a:not(:hover){
	text-decoration: none;
	color:#fff;
}

/*
ul {
    list-style: none;
}
*/

.jumbotron{
	padding-top: 300px;
	height: 100vh;
	position: relative;
	text-align: center;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.jumbotron.invert{
	color: #fefefe;
}

.jumbotron h1{
	opacity: 0.9;
	color: #fefefe;
}
 .jumbotron p{
	font-size: 19px;
	font-weight: 300;
	opacity: 0.68;
}
.jumbotron h1 + * {
	margin-top: 40px;
}

.jumbotron .scrollto{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	bottom: 35px;
	padding-top: 3px;
	padding-left: 5px;
	width: 26px;
	height: 26px;
	border-radius: 3px;
	background-color: #fff;
	color: #222;
}

.jumbotron .scrollto i{
	transform: rotate(-45deg);
}
/*
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-1{
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}
*/
/*
.section-1 h1 + p{
	margin-top: 40px;
}
*/

h1,
h2,
h3,
h4,
h5{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	color: #111111;
	line-height: 1.2;
	text-transform: uppercase;
}

/*
.section-1 h1{
	opacity: 0.9;
	color: #fefefe;
}
.section-1 p{
	font-size: 19px;
	font-weight: 300;
	opacity: 0.68;
}
*/
h1{
	font-size: 30px;
	letter-spacing: 0.2em;
}
@media (min-width: 992px){
	h1{
		letter-spacing: 1.7em;
	}
}
@media (min-width: 768px){
	h1{
		letter-spacing: 1.2em;
	}
}
h5{
	font-size: 18px;
	color: #cecece;
}

.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.border-bottom{
	border-bottom: 1px solid #ECECEC;
}

.section-135-125{
		padding-top: 70px;
		padding-bottom: 70px;
	}

@media (min-width: 992px){
	.outline .section-135-125{
		padding-top: 135px;
		padding-bottom: 125px;
	}
}

h2{
	font-size: 18px;
	letter-spacing: 0.5em;
}


.offset-bottom-50{
	margin-top: 30px;
}

@media (min-width: 992px){
	offset-bottom-50 + * {
		margin-top: 50px;
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 30px;
}

.row:after{
	content: '';
	display: table;
	clear: both;
}

.team-member{
	padding-left: 15px;
    padding-right: 15px;
	text-align: center;
	padding-bottom: 10px;
}

.team-member img{
	width: 100%
}
	
h3{
	color: #777777;
	font-size: 15px;
}

h5{
	color: #777777;
	font-size: 12px;
}

[class*="col-"] {
	width: 100%;
/*	padding: 15px;*/
/*	margin-left: 10px;*/
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.col-4 {
		width: 50%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-4 {
		width: 33.3333%;
	}
}

blockquote{
	font-size: 24px;
	line-height: 38px;
}

cite{
	font-size: 11px;
	letter-spacing: 0.2em;
	line-height: 38pt;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
}

.icon-wrapper{
	display: flex;
    justify-content: space-around;
}

.col-5{
	width: 100%;
	flex-basis: 24%;
}

.col-5 span{
	font-size: 50px;
}

.service-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.service-icon-block{
	padding: 15px;
}

.service-icon-block a{
	display: inline-block;
	text-decoration: none;
	color: #777777;
}

.service-icon-block a:hover{
	color:black;
}

.service-icon-block span[class*="icon"] {
	font-size: 48px;
	display: block;
	margin-bottom: 28px;
}

.heading-4{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.2em
}

.bg-dark {
	padding-bottom: 25px;
	margin-top: 55px;
	background-color: #111111;
}

.bg-content {
	padding-top: 75px;
}

.imac {
	position: relative;
	overflow: hidden;
}

@media (min-width: 768px){
	.imac {
		margin-top: -30px;
	}
}

.imac .imac-screen {
	position: absolute;
	overflow: hidden;
	top: 5%;
    left: 11%;
    right: 11%;
    height: 69%;
}

.imac .imac-screen img{
	will-change: transform;
	transition: 2.5s all ease-in-out;
}

.imac .imac-screen:hover img{
	transform: translateY(-88%);
	transition: 7s all linear;
}

.offset-bottom-64{
	padding-bottom: 64px;
}

.offset-bottom-104{
	padding-bottom: 104px;
}

.offset-bottom-37{
	padding-bottom: 37px;
}

.btn{
	display: inline-block;
	font-size: 14px;
	padding: 8px 40px;
	margin-top: 35px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-radius: 3px;
	color: #111111;
	background-color: #cfcfcf;
}

.btn:hover{
	border: 2px solid black;
	background-color: #fff;
}

.bg-content h3 + p{
	margin-top: 18px;
}
.header-light{
	font-weight: 300;
	letter-spacing: 0.4em;
}

.invert *{
	color: white;
}

.invert p,
.invert q{
	opacity: 0.7;
}

.invert cite{
	opacity: .3;
}

.invert .btn{
	color: #000;
}

/* .btn a{
	color: #111111;
} */

@media (min-width: 544px){
	.col-6 {
	width: 50%;
	float: left;
	}
}

/*Isotope*/

.grid{
	display: flex;
	flex-wrap: wrap;
}

.grid-item{
	width: 100%;
	filter: grayscale(1);
	transition: 0.2s;
}

.grid-item:hover{
	filter: grayscale(0);
	cursor: pointer;
}

@media (min-width: 544px){
	.grid-item{
		width: 50%;
	}
}

@media (min-width: 992px){
	.grid-item{
		width: 33.3334%;
	}
}

.text-center{
	text-align: center;
}
.button-group{
	text-align: center;
}

.button{
	border: none;
    background-color: white;
    text-align: center;
    font-family: dosis, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #777777;
    opacity: 0.5;
}

.button:hover{
	color: black;
	cursor: pointer;
	opacity: 1;
	transition: 0.15s;
}

.why-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}

.why-icon-block{
	padding: 15px;
	width: 100%;
}

@media (min-width: 544px){
	.why-icon-block{
		width: 50%;
	}
}

@media (min-width: 992px){
	.why-icon-block {
    width: 33.3334%;
	}
}

.why-icon-block a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

.why-icon-block a:hover{
	color:#777777;
}

.why-icon-block span[class*="icon"] {
	font-size: 48px;
	display: block;
	margin-bottom: 28px;
}

/*Carousel*/
.background-dark{
	background-color: #111;
}

.section-140-25{
	padding-top: 70px;
	padding-bottom: 25px;
}

@media (min-width: 768px){
	.section-140-25{
		padding-top: 140px;
	}
}

.owl-item-inner{
	margin-left:auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 1200px){
	.owl-item-inner{
		width: 45%;
	}
}

.owl-carousel span[class*='icon']{
	font-size: 32px;
	margin-bottom: 20px;
}

.owl-carousel blockquote{
	margin-top: 45px;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.owl-carousel blockquote cite{
	letter-spacing: 0.2em;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
}

.owl-carousel button.owl-dot{
	border: 3.5px solid white;
	background-color: white;
	width: 7px;
	height: 7px;
	margin: 3px;
	border-radius: 50%;
}

.owl-carousel button.owl-dot.active{
	border: 1px solid white;
	width: 8px;
	height: 8px;
	margin: 3px;
	border-radius: 50%;
	background-color: black;
}

.owl-carousel .owl-dots{
	display: flex;
	justify-content: center;
}

.owl-carousel .owl-nav button.owl-prev{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 45px;
    height: 45px;
    border-radius: 2px;
    background-color: #fff;
}

.owl-carousel .owl-nav button.owl-prev:before{
    content: '\f104';
    right: 10px;
    top: 1px;
    transform: rotate(-45deg);
    position: absolute;
    font-family: 'FontAwesome';
    z-index: 1;
	font-size: 16px;
	color: #111;
}

.owl-carousel .owl-nav button.owl-next{
	position: absolute;
	right: 0;
	top: 50%; 
	transform: translate(50%, -50%) rotate(45deg);
	width: 45px;
    height: 45px;
    border-radius: 2px;
    background-color: #fff;
}

.owl-carousel .owl-nav button.owl-next:before{
    content: '\f105';
    left: 10px;
    bottom: 1px;
    transform: rotate(-45deg);
    position: absolute;
    font-family: 'FontAwesome';
    z-index: 1;
	font-size: 16px;
	color: #111;
}

.news-header{
	display: flex;
    align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news-header a{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 12px;
}

.news-header a:after{
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 16px;
	margin-left: 5px;
}

.news-wrapper{
	filter: grayscale(1);
	transition: 0.2s;
}

.news-wrapper:hover{
	filter: grayscale(0);
	cursor: pointer;
}

h4{
	font-size: 15px;
	letter-spacing: 0.2em;
}

.writer{
	font-size: 12px;
	text-transform: uppercase;
}

.btn-more{
	display: inline-block;
	font-size: 12px;
	padding: 6px 25px;
	margin-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	border-radius: 3px;
	background-color: #cfcfcf;
}

.btn-more:hover{
	border: 1px solid black;
    background-color: #fff;
}

.btn-more:after{
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 14px;
	margin-left: 5px;
}

.grey-bg{
	background-color: #f8f8f8;
}

.form-content{
	padding-top: 70px;
	padding-bottom: 70px;
}

.grey-bg input{
    font-size: 12px;
    font-weight: normal;
    color: #616161;
    border: 1px solid #dfdfdf;
    outline: none;
    box-shadow: none;
    padding: 12px 125px 12px 12px;
    border-radius: 3px;
    transition: 0.3s ease-out all;
}

.dark-btn{
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	outline: none;
	box-shadow: none;
	padding: 12px;
	border: 1px solid #111111;
	background-color: #111111;
	opacity: 0.8;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.3s ease-out all;
}

.grey-bg input:hover{
	border: 1px solid black;
}

.grey-bg button:hover{
	background-color: grey;
	color: black;
}

h3{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2em;
}

.form-content form{
	margin-top: 20px;
}

.info{
	font-size: 12px;
	color: #c1c1c1;
}

.info:before{
	content: '\f05a';
	font-family: 'FontAwesome';
	margin-right: 3px;
}

.section-135-143{
	padding-top: 70px;
	padding-bottom: 70px;
}

@media (min-width: 992px){
	.section-135-143{
		padding-top: 135px;
		padding-bottom: 143px;
	}
}

@media (min-width: 768px){
	.col-8{
		widows: 66.67%;
		flex-basis: 66.67%;
		margin-left: auto;
		margin-right: auto;
	}
}

.margin-15{
	margin: -15px;
}

.space-between{
	justify-content: space-between;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.contact-block{
	display: flex;
	align-items: center;
}

.contact-block .contact-information dt{
	font-size: 12px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	font-family: "Dosis", sans-serif;
}

.contact-block .icon{
	font-size: 14px;
	color: #fff;
	position: relative;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-right: 15px;
}

.contact-block .icon:before{
	z-index: 1;
	position: relative;
}

.contact-block .icon:after{
	content: '';
	width: 25px;
	height: 25px;
	background-color: #111111;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(45deg);
}

.form.contact-form{
	margin-top: 70px;
}

.form.contact-form .row{
	margin: -5px;
}

.form .row{
	width: 100%;
}

.form.contact-form .row .col-6{
	padding: 5px;
}

@media (min-width: 768px){
	.col-6{
		width: 50%;
		flex-basis: 50%;
	}
}

.form .input{
	width: 100%;
	padding: 10px 20px;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.form.contact-form input,
.form.contact-form textarea{
	margin: 0;
}

.form.contact-form input + input{
	margin-top: 10px;
}

.form.contact-form textarea{
	min-height: 86px;
}

.totop-button{
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #c6c6c6;
	z-index: 1000;
	transition: 0.3s;
	border-radius: 3px;
	opacity: 0;
	visibility: hidden;
}

.totop-button:hover{
	cursor: pointer;
	border-bottom-color: #111;
}

.totop-button.show{
	opacity: 1;
	visibility: visible;
}

#map{
	height:410px;
	width: 100%;
}

.relative{
	position: relative;
}

.overflow-hidden{
	overflow: hidden;
}

.map-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(17,17,17, 0.95);
	transition: 0.4s;
}

.map-overlay.hidden{
	opacity: 0;
	visibility: hidden;
}

.map-overlay h3{
	/* position: absolute; */
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	transition: 0.3s;
}

.map-overlay h3:before{
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	width: 0;
	background-color: currentColor;
	transition: 0.3s;
	height: 2px;
	bottom: -5px;
}

.map-overlay h3:hover{
	cursor: pointer;
}

.map-overlay h3:hover:before{
	left: 0;
	right: 0;
	width: 100%;
}

.map-overlay .text-wrapper{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.map-overlay .text-wrapper .icon{
	color: #222;
	font-size: 14px;
	line-height: 37px;
	width: 32px;
	position: relative;
	margin-bottom: 28px;
}

.map-overlay .text-wrapper .icon:before{
	z-index: 1;
	position: relative;
}

.map-overlay .text-wrapper .icon:after{
	content: '';
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 26px;
    height: 26px;
    border-radius: 3px;
    background-color: #fff;
    top: 10%;
}